<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main class="album-view container narrow">
      <section class="clearfix">
         <div class="column half">
             <img src="/assets/images/album_covers/01.png" class="album-cover-art">
         </div>
         <div class="album-view-details column half">
             <h2 class="album-view-title">{{ album.albumData.name }}</h2>
             <h3 class="album-view-artist">{{ album.albumData.artist }}</h3>
             <h5 class="album-view-release-info">{{ album.albumData.year }} {{ album.albumData.label }}</h5>
         </div>
     </section>
     <table class="album-view-song-list"><!-- start here -->
         <tr class="album-view-song-item">
             <td class="song-item-number" ui-sref="album">{{ 1 }}</td>
             <td class="song-item-title" ui-sref="album">{{ Blue }}</td>
             <td class="song-item-duration" ui-sref="album">{{ 3:31 }}</td>
         </tr>
     </table>
 </main>
  </body>
</html>
